<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AHITSkinMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <AHITSkinMaker.Properties.Settings>
            <setting name="GameFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Author" serializeAs="String">
                <value>Change Me!</value>
            </setting>
        </AHITSkinMaker.Properties.Settings>
    </userSettings>
</configuration>
